*.lock
target
a.out
.vscode/*.*
.DS_Store
*.md
*.html
!test.html
!dir_viewer*.html
!not_found_temp*.html
*.dylib
*.dll
*.so
.idea
*.class
wasm-game-of-life/**/*.rs.bk
wasm-game-of-life/bin/
wasm-game-of-life/pkg/
wasm-pack.log
aTr*
tests/tmp.json
*.exe
test*.*
xlsx-example/.cargo/config.toml
*.log
rjni/test/tests/clang/rdef.h
zig-cache
zig-out
rjni/test/tests/zig/src/CallJNI.zig
rjni/test/tests/zig/src/jni.zig
rjni/test/tests/zig/src/main_c.zig
!DefinedClass.class
!.vscode/settings.json
